.image {
  width: 100%;
  display: block;
}

.pics-container {
  padding: 25% 50%;
  background: #aaa;
  position: relative;
  .pics {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

